#Layer_2 {
  enable-background:new 0 0 797 795;
}

.st0g{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1g{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}

.globeContainer {
  position: relative;
}

.smCircle {
  position: absolute;
  border-Radius: 50%;
  height: 22%;
  width: 22%;
  top: 38.5%;
  left: 38.9%;
  z-Index: 20;
}

.smCircle:hover {
  cursor: pointer;
}
