.st0{fill:#FFFFFF;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
#Layer_1{enable-background:new 0 0 423 341; z-index: 2;}

.windowImg {
  width: 90%;
  height: 96%;
  top: 18%;
  left: 5%;
  background-Repeat: no-repeat;
  background-Position: center;
  background-Size: 100%;
  position: absolute;
}
